!!! 5
html
  head
    title CS61A IRC
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0, minimal-ui')
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('subway')
    != css('subway-mobile')
    != css('irc-colors')

    script(src='/socket.io/socket.io.js')
    != js('client')
    include templates
  body
    block content
